.Navbar {
  display: flex;
  justify-content: center;
  background: rgb(154, 228, 228);
  border-bottom: 5px solid rgb(3, 3, 2);

}

.select-container {
  margin: 0 1rem 0 auto;
  box-sizing: border-box;
}

.level-text {
  margin: 15px 10px 12px 10px;
}

.Palette {
  height: 100vh;
}

.Palette-colors {
  height: 90%;
}

.slider {
 width:  350px;
margin: 20px;
display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle {
  background-color: green;
}

.rc-slider-handle:active {
  background-color: green;
}
.rc-slider-handle:focus {
  background-color: green;
}
